html,body{
	 width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}

body{
	background: #f7b733; 
background: -webkit-linear-gradient(to right, #ff5f6d, #f7b733);  
background: linear-gradient(to right,#ff5f6d,#f7b733);
background-size: cover;
background-repeat: no-repeat;
 width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}



body{
	font-family:Roboto; 
}

p{
  color: white;
}

#start{
	padding: 30px;
}

#nav-header
{
 padding-right:0;
}
.navbar,
.navbar-expand-lg,
navbar-light
{
  background:#fff;
  box-shadow:0px 0px 18px 1px rgba(46, 62, 71, 0.2);

}
 .navbar .navbar-collapse .navbar-nav .nav-item .nav-link
{
  margin-right:auto;
  margin-left:auto;
margin:0;
  font-weight: 100;
  font-size: 16px;
  color:rgba(247, 183, 51, 1);
  padding: 1px;
  margin-left: 2px;
 }
.navbar-toggler
{
  padding:10px;
  border:none;
  
 }


.l-nav 
{
  width:80px;
  height:80px;
 transform:scale(1.1);
}

.navbar-nav
{
  margin-right: 0;
}



.navbar-collapse ul:hover li a

{
  transform: scale(1);
  opacity: 1;
  filter: blur(3px);

}

.navbar-collapse ul li a:hover
{
  transform:scale(1.5);
  opacity:1 ;
  filter: blur(0);
  border-bottom:1px solid rgba(255, 95, 109, 0.5);
}

.thumbnail  {
    width: 500px;
    height: 450px;
    object-fit: cover;
    padding: 20px;
  }

 .container{
 margin:0;
 width: 100%;
 /* margin-right: 10%;
 	margin-left: 10%;
 */}

 .row{
 	padding: 30px;
 }

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.sp{
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;  
border: 1.2px red solid ;
color: #ffc107;
}

.ls{
margin-right:5px;
margin-bottom: 5px;
}

.rs{
margin-left:5px;
margin-bottom: 5px;
}

